/*top line of buttons*/
#btn1{
	text-align: center;
	margin-top: 25px;
}

/*second line of buttons*/
#btn2{
	text-align: center;
	margin-top: 10px;
}

.btn{
	color: black;
}

.dates{
	min-height: 100px;
	line-height: 21px;
	padding-top: 16px;
	text-align: center;
}

.containerEvents{
    width: 97%;
    margin-left: 13px;
}
.details{
	text-align: left;
	font-size:13px;
	min-height: 100px;
}
.monthDisplayed{
    font-size: 16px;
    color: #FFF;
}

.dateDisplayed{
    font-size: 26px;
    color: #FFF;	
}

.dayDisplayed{
	font-size: 19px;
    color: #FFF;
}

.eventDisplayed{
	font-size: 15px;
	font-weight: bold;

}

body{
	/*background-color: #DAF2F7;*/
	background-color:  #e8f7e8;
}

/*//title styling*/
h1{
	
	font-family: 'Seymour One', sans-serif;
	color: #153022;
	background-color: #f0f9ef;
	text-align: center;
	opacity: .75;
}

/*caption styling*/
h5{
	font-family: 'Seymour One', sans-serif;
	background-color: #f0f9ef;
	color: #153022;
	opacity: .70;

}

h4{
	font-family: 'Ubuntu', sans-serif;
	color: #3cbc4f;
	text-align: center;
	
}
#uploadForm{
	font-family: 'Ubuntu', sans-serif;
	color: #3cbc4f;
	text-align: center;
}

#eventText{
		font-family: 'Ubuntu', sans-serif;
	color: #3cbc4f;
	text-align: center;
}
h3{
		font-family: 'Ubuntu', sans-serif;
	color: #3cbc4f;
	text-align: center;
}

p{
			font-family: 'Ubuntu', sans-serif;
	color: #3cbc4f;
	text-align: center;
}

/*//buttons styling*/
a{
	font-family: 'Ubuntu', sans-serif;
}

/*//navbar*/
.nav-wrapper{
	padding: 10px;
	font-family: 'Ubuntu', sans-serif;
	font-size: large;
}

#eventsShown{
	margin: 0px auto;
	text-align: center;
	width: 50%;

}